<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title th:text="${title}">SkillUp</title>

    <!-- CSS único da aplicação -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="app">
<header class="app-header" th:replace="~{fragments/_header :: header}"></header>

<main class="page">
    <div class="container">
        <div th:insert="${content}">Conteúdo…</div>
    </div>
</main>

<footer class="app-footer" th:replace="~{fragments/_footer :: footer}"></footer>
</body>
</html>
